<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ravendb_webtest" connectionString="Url = http://localhost:8080; DefaultDatabase = webtest"/>
    <add name="mongodb_webtest" connectionString="mongodb://localhost:27017/webtest?safe=true"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
